<div class="datepicker">
  <div class="cf-calendar icon"></div>
  <input name="{{ name }}" type="text" readonly ng-model="date" ng-focus="onFocus($event)" ng-blur="onBlur($event)" />
  <table ng-show="selected">
    <thead>
      <tr>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
        <th>Sa</th>
        <th>Su</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="week in weeks">
        <td ng-repeat="day in week track by $index">
          <a ng-class="{day: day.label !== '', today: today === (day.date|date:'yyyy-MM-dd')}" href="#" ng-click="submitDay(day.date)" data-day="{{ day.date|date:'yyyy-MM-dd' }}">{{ day.label }}</a>
        </td>
      </tr>
  </table>
</div>